# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Constants

In [2]:
URL = "https://stepik.org/media/attachments/lesson/9250/birds.csv"
data = pd.read_csv(URL)

# Data visual

In [3]:
data

         var4  hormone  sex
0   17.859039        1    1
1   20.842343        1    1
2   19.318099        1    1
3   20.064451        1    1
4   17.620316        1    1
..        ...      ...  ...
59  17.054195        0    0
60  22.951551        0    0
61  18.799382        0    0
62  16.543161        0    0
63  25.683038        0    0

[64 rows x 3 columns]

In [22]:
group00, group01, group10, group11 = np.array([])
for i in data["sex"]:
    print(i)

ValueError: not enough values to unpack (expected 4, got 0)